<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <style>
    body {
      padding: 20px;text-align: center;
    }
  </style>
</head>
<body>

<div class="container">
  <h2>Информация о пользователе</h2>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Поле</th>
      <th>Значение</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>ID</td>
      <td><form th:text="${user.getId()}"></form></td>
    </tr>
    <tr>
      <td>Логин</td>
      <td><form th:text="${user.getUsername()}"></form></td>
    </tr>
    <tr>
      <td>Имя</td>
      <td><form th:text="${user.getFirstName()}"></form></td>
    </tr>
    <tr>
      <td>Фамилия</td>
      <td><form th:text="${user.getLastName()}"></form></td>
    </tr>
    <tr>
      <td>Год рождения</td>
      <td><form th:text="${user.getYearOfBirth()}"></form></td>
    </tr>
    <tr>
      <td>Баланс</td>
      <td><form th:text="${user.getBalance()}"></form></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><form th:text="${user.getEmail()}"></form></td>
    </tr>
    <tr>
      <td>Роль</td>
      <td>
        <form th:each="role : ${user.getRoles()}" th:text="${role.name}"></form>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="text-center">
    <a th:href="@{/admin/{id}/edit(id=${user.getId()})}" class="btn btn-success">Изменить</a>
    <form action="/admin/user/">
      <input type="submit" value="Пользователи" class="btn btn-primary">
    </form>
    <form action="/logout">
      <input type="submit" value="Выйти" class="btn btn-danger">
    </form>
  </div>
</div>

</body>
</html>